.theme-color { color: var(--theme); }
.theme-hover-color { color: var(--theme-hover); }
.theme-bg-color { background-color: var(--theme); }
.theme-hover-bg-color { background-color: var(--theme-hover); }

.primary-color { color: var(--primary); }
.primary-hover-color { color: var(--primary-hover); }
.primary-bg-color { background-color: var(--primary); }
.primary-hover-bg-color { background-color: var(--primary-hover); }

.secondary-color { color: var(--secondary); }
.secondary-hover-color { color: var(--secondary-hover); }
.secondary-bg-color { background-color: var(--secondary); }
.secondary-hover-bg-color { background-color: var(--secondary-hover); }

.tertiary-color { color: var(--tertiary); }
.tertiary-hover-color { color: var(--tertiary-hover); }
.tertiary-bg-color {background-color: var(--tertiary); }
.tertiary-hover-bg-color { background-color: var(--tertiary-hover); }