.theme-color { color: var(--theme); }
.theme-hover-color:hover { color: var(--theme-hover); }
.theme-bg-color { background-color: var(--theme); }
.theme-hover-bg-color:hover { background-color: var(--theme-hover); }

.primary-color { color: var(--primary); }
.primary-hover-color:hover { color: var(--primary-hover); }
.primary-bg-color { background-color: var(--primary); }
.primary-hover-bg-color:hover { background-color: var(--primary-hover); }

.secondary-color { color: var(--secondary); }
.secondary-hover-color:hover { color: var(--secondary-hover); }
.secondary-bg-color { background-color: var(--secondary); }
.secondary-hover-bg-color:hover { background-color: var(--secondary-hover); }

.tertiary-color { color: var(--tertiary); }
.tertiary-hover-color:hover { color: var(--tertiary-hover); }
.tertiary-bg-color {background-color: var(--tertiary); }
.tertiary-hover-bg-color:hover { background-color: var(--tertiary-hover); }

.button-color { color: var(--button); }
.button-hover-color:hover { color: var(--button-hover); }
.button-bg-color {background-color: var(--button-bg); }
.button-hover-bg-color:hover { background-color: var(--button-bg-hover); }

.field-color { color: var(--field); }
.field-hover-color:hover { color: var(--field-hover); }
.field-bg-color {background-color: var(--field-bg); }
.field-hover-bg-color:hover { background-color: var(--field-bg-hover); }