@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none !important;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent !important;
}

html,
body {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
}

html { scroll-behavior: smooth; }

body {
    padding: 0 20px;
    background-color: #000;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

ul { list-style: none; }

br { height: 1em; }

h1 {
    color: var(--primary);
    font-size: 1.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 800;
    width: 100%;
}

p {
    color: var(--secondary);
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 300;
}

a, a:visited {
    color: var(--primary);
    font-size: 1.4em;
    line-height: 1.3em;
    font-weight: 300;
}

a, a:visited {
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

span {
    color: var(--tertiary);
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 300;
    width: 100%;
}

button {cursor: pointer; }

select {
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    background-color: #f4f4f4 !important;
    cursor: default !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #222;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #fff;
}