@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    outline: none !important;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto !important;
    text-rendering: optimizeLegibility !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
}

html { scroll-behavior: smooth !important; }

body {
    padding: 0 20px;
    background-color: #000;
}

ul { list-style: none; }

button {cursor: pointer !important; }

select {
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
    background-color: #f4f4f4 !important;
    cursor: default !important;
}