.w-100 { width: 100%; }
.w-fit { width: fit-content; }
.w-view { min-width: 100vw; }

.h-100 { height: 100%; }
.h-fit { height: fit-content; }
.h-view { min-height: 100vh; }

.max-width { max-width: 1200px; }