:root {
    --theme: #fff;
    --theme-hover: #fff;

    --primary: #eee;
    --primary-hover: #eee;

    --secondary: #999;
    --secondary-hover: #fff;

    --tertiary: #666;
    --tertiary-hover: #666;

    --button: #fff;
    --button-hover: #000;
    --button-bg: #fff;
    --button-bg-hover: #f9f9f9;

    --field: #fff;
    --field-bg: #000;
    --field-bg-hover: #222;
}
