@media (max-width: 768px) {
    footer {
        flex-direction: column !important;
        align-items: center !important;
    }

    footer section {
        justify-content: center !important;
        row-gap: 10px !important;
    }

    footer section p {
        text-align: center !important;
    }
}