header {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.header-small {
    min-height: 300px !important;
}

header .words-container {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: nowrap !important;
    gap: 25px;
    transition: none;
}

header .words-container .words {
    font-size: 10em;
    font-weight: 600;
    color: var(--theme);
}

header .arrow {
    position: absolute;
    bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    animation: jumpArrow 1.5s ease-in-out infinite;
}

header .arrow i {
    font-size: 3em;
    color: var(--secondary);
}

@keyframes jumpArrow {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(30px); }
}

@media all and (max-width: 768px) {
    header .words-container { gap: 15px; }
    header .words-container .words { font-size: 7.5em; }
    header .arrow i { font-size: 2.5em; }
}

@media all and (max-height: 500px) {
    header .arrow { display: none; }
}