main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    min-height: 100vh;
    margin: 70px auto;
}

main section {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 768px) {
    main section {
        flex-direction: column;
        align-items: center;
    }
}